body{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(10,0,0,1));
  font-family: Courier;
}
h1{
  font-family: Courier;
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.inputSection{
  margin: 50px 0px 80px 0px;
  width: 400px;
}

.inputs{
  width: inherit;
  display: flex;
  flex-direction:column;
  font-family:inherit;
}

input{
  margin-top: 10px;
  font-family:inherit;
}

.addOption{
  margin-top: 20px;
}

.grumpycat{
  margin-top: 20px;
}

button{
  background:url('https://images.genius.com/856d23cafd5a7afd935b2dba87c3140f.1000x1000x1.jpg');
  background-size: cover;
  padding: 15px 32px;
  border:  2px solid grey;
  font-weight: bolder;
  font-size: medium;
  font-family:inherit;
}

.resultSection{
  height: 200px;
  display flex;
  justify-content: center;
  align-items: center;
  font-family:inherit;
  font-size: 34px;

}
